.card__container{
    cursor: pointer;
}
.card__container:hover{
    transform: scale(1.05);
}
.card__image{
    height: 250px;
}
.card__btn-primary:hover{
color: var( --primary-bg-color);
}
.card__icon:hover{
    color: var(--secondary-bg-color);
}